<div class='login-signup' ng-controller='LoginSignupCtrl'>
	<div ng-show='loginPartVisible'>
		<div ng-include='pagesFullPath+"loginForm/login-form.html"'></div>
		<br />
		<div class='center'><span>Don't have an account with {{appTitle}}?</span> <span class='btn-link' ng-click='showLoginPart("signup", {})'>Sign Up</span></div>
	</div>
	<div ng-show='signupPartVisible'>
		<div ng-include='pagesFullPath+"signupForm/signup-form.html"'></div>
		<br />
		<div class='center'>Or <span class='btn-link' ng-click='showLoginPart("login", {})'>Sign In</span></div>
		<!--<div class='center login-signup-terms'><span class='login-signup-font-condensed'>Our Terms of Service</span></div>-->
	</div>
</div>