.login-signup {
	max-width:200px;
	width:100%;
	margin:0 auto;
	line-height:1em;
	.box-sizing(border-box);
	padding:20px 10px;
}

.login-signup-header {
	text-align:center;
	padding:5px 0;
	padding-bottom:8px;
}
.login-signup-terms  {
	cursor:pointer;
	padding:5px 0;
	padding-top:20px;
}

.login-signup-button-facebook, .login-signup-button-google {
	padding:5px 0;
	.border-radius(4px);
	cursor:pointer;
}
.login-signup-button-icon {
	font-size:25px;
}
.login-signup-button-text {
	display:inline-block;
	vertical-align:3px;
}
.login-signup-button-facebook {
	color:white;
	.gradient(~"linear-gradient(180deg, rgb(112,133,185), rgb(79,96,130))");
}
.login-signup-button-facebook:hover {
	.gradient(~"linear-gradient(0deg, rgb(112,133,185), rgb(79,96,130))");
}
.login-signup-button-google {
	color:white;
	background-color:#cc3732;
}
.login-signup-button-google:hover {
	background-color:#e74b37;
}

@media(min-width: 300px) {
	.login-signup {
		max-width:275px;
	}
}

@media(min-width: 425px) {
	.login-signup {
		max-width:400px;
		min-width:250px;
	}
}