<div class='login-form center' ng-controller='LoginFormCtrl'>
	<form class='ui-forminput-form wide' name='loginForm' ng-submit='submitForm()'>
		<div ui-forminput placeholder='Email' ng-model='formVals.email' opts='' required></div>
		<div ng-hide='forgotPassVisible'>
			<div ui-forminput type='password' placeholder='Password' ng-model='formVals.password' opts='' required ng-minlength='2'></div>
		</div>
		
		<div class='clearfix' ng-hide='forgotPassVisible'>
			<div class='login-form-forgot-pass btn-link' ng-click='toggleForgotPass({})'>Forgot Password</div>
			<button class='btn btn-primary login-form-button-right' type='submit' >Login</button>
		</div>
		<div class='clearfix' ng-show='forgotPassVisible'>
			<div class='login-form-forgot-pass btn-link' ng-click='toggleForgotPass({})'>Back to Login</div>
			<div class='ui-forminput-submit btn btn-primary login-form-button-right' ng-click='forgotPass({})' >Remind Me!</div>
		</div>
		
		<div class='login-social-buttons center'>
			<div class='facebook' ui-iconbutton icon-class='icon-facebook' button-text='Login' ng-click='fbLogin()'></div>
			<div class='google' ui-iconbutton icon-class='icon-google-plus' button-text='Login' ng-click='googleLogin()'></div>
		</div>
	</form>

	<div class='text-info'>{{msgNotify}}</div>
</div>