<div class='test' ng-controller='TestCtrl'>
	test<br />
	
	<!--
	
	links: <br />
	<a ng-href='{{appPathLink}}login'>Login</a><br />
	<a ng-href='{{appPathLink}}logout'>Logout</a><br />
	<a ng-href='{{appPathLink}}home'>Home</a><br />
	<a ng-href='{{appPathLink}}password-reset'>Password Reset</a><br />
	
	buttons:<br />
	<span class='btn'>Btn</span>
	<span class='btn btn-primary'>Primary</span>
	<span class='btn btn-warning'>Warning</span>
	<span class='btn btn-danger'>Danger</span>
	<span class='btn btn-success'>Success</span>
	<span class='btn btn-info'>Info</span>
	<span class='btn btn-inverse'>Inverse</span>
	
	-->
	
	<br /><br />
	<div ui-carousel opts='optsCarousel'>
		<div ng-repeat='slide in slides' style='display:inline-block; text-align:center; vertical-align:top;'>		<!-- styles are optional and should be moved to a class / stylesheet; this centers things and makes them display side by side -->
			<!-- custom content here -->
			<img ng-src='{{slide.image}}' style='margin:auto; max-width:100%;'>		<!-- styles are optional and should be moved to a class / stylehseet; this makes the content/images dynamic full width. Remove max-width:100%; for them to keep their size and be centered. Make sure NOT to use 'width:100%;' as this will stretch tall, narrow images. -->
			<div>
				<h4>Slide {{$index}}</h4>
				<p>{{slide.text}}</p>
			</div>
			<!-- end: custom content here -->
		</div>
	</div>


	<br /><br />
	<!--
	DateTimePicker:<br />
	<div ui-datetimepicker ng-model='ngModelDatetimepicker' opts='optsDatetimepicker'></div>
	-->
	<!--
	<div ui-forminput type='datetime' ng-model='ngModelDatetimepicker' placeholder='Date/time' opts=''></div>
	
	<div ui-forminput ng-model='formVals.text' placeholder='text' opts=''></div>
	-->
	
</div>